//- credits.jade
    -Contains the credits and thanks
    -Created by : Erenox the : 06/07/2016
    -Last update : 06/07/2016

section#credits
  img(src='/images/delimiter.png', alt='delimiter')
  p
    | Andrew Horton (
    a(href='https://github.com/urbanadventurer/WhatWeb', target='_blank') whatweb
    | )
    | - Alban Diquet (
    a(href='https://github.com/nabla-c0d3/sslyze', target='_blank') sslyze
    | )
    | - Gordon Lyon (
    a(href='https://github.com/nmap/nmap', target='_blank') nmap
    | )
    | - Chris Sullo (
    a(href='https://github.com/sullo/nikto', target='_blank') nikto
    | )
    | - Tasos Laskos (
    a(href='https://github.com/Arachni/arachni', target='_blank') arachni
    | )
    | - Rastating (
    a(href='https://github.com/rastating/joomlavs', target='_blank') joomlavs
    | )
    | - Wpscanteam (
    a(href='https://github.com/wpscanteam/wpscan', target='_blank') wpscan
    | )
    | - Droope (
    a(href='https://github.com/droope/droopescan', target='_blank') droopescan
    | )
