//- main.jade
    -Contains the audit form, service details

section#main

    #parameters

        //- warn zone
        #warn
            img(alt='warning' src='#')
            p()

        if name
            script.
                warning("#{name}", "#{message}");

        h1 Start a Scan

        //- form fields
        form(method='post', action='/audit/')

            //- domain's fields
            #domain(class="aligned")
                label Domain :
                input(type='text', name='input[domain]', maxlength='70', onmouseover="fieldshovers(this.id,'textbox');", onmouseout="fieldsunhovers(this.id,'textbox');", onkeyup='validate_input(this,false);', placeholder='www.scanity.net' autocomplete="off")
                input(disabled=true, type='submit', name='submit[domain]', value='OK')

            //- host's fields
            #host(class="aligned")
                label Host :
                input(type='text', name='input[host]', maxlength='15', onmouseover="fieldshovers(this.id,'textbox');", onmouseout="fieldsunhovers(this.id,'textbox');", onkeyup='validate_input(this,false)', placeholder='91.121.133.155' autocomplete="off")
                input(disabled=true, type='submit', name='submit[host]', value='OK')

            //- type fields
            #type(class="aligned")
                label Type :
                select(id="select", name='input[selector]')
                    optgroup(label="Host")
                        option(value='0') Host audit
                    optgroup(label="Webserver")
                        option(value='1') Web audit
                    optgroup(label="CMS")
                        option(value='2') Joomla
                        option(value='3') Wordpress
                        option(value='4') Drupal
            //- options fields
            #options

                //- Agree checkbox
                input(type='checkbox', name='setting[terms]', onclick='validate_setting(this);')
                label(id='terms_label') Agree the terms of use.

                br

                //- Archive checkbox
                input(type='checkbox', name='setting[archive]', onclick='validate_setting(this);')
                label(id='archive_label') Display on the Archive.

    //- specifications
    #specifications
        //- about tools
        .specification(onmouseover="imghover('tool');", onmouseout="imgunhover('tool');" onclick="window.open('/audit/58b9b37682f0ea32374028dd');")
            img(id="tool", src='/images/*tools.png', alt='tool')
            h2 Audit tools
            img(id='code', src='/images/code.png', alt='code_background')
            p(id='tools', class="txt_orange") whatweb - sslyze - nmap - nikto - arachni - joomlavs - wpscan - droopescan
            p(id='example', class="txt_orange") click here for view an audit example.

        //- about open-source
        .specification(onmouseover="imghover('git');", onmouseout="imgunhover('git');")
            img(id="git", src='/images/*git.png', alt='git')
            h2 Open Source
            p(id="open" class="txt_orange") To ensure your privacy protecting and give you the opportunity to participate, I have published the service source-code to github. Feel free to contribute, or report possible bugs.
            a(href='https://github.com/Erenox/Scanity') https://github.com/Erenox/Scanity