//- header.jade
    -Contains banner and sub-banner
    -Created by : Erenox the : 01/07/2016
    -Last update : 14/01/2017
header
    //- the banner
    img#banner(src='/images/banner.png', alt='banner')