//- audit.jade
    -The audit page

doctype html

html(lang='en')
    //- include the head (metadata, css, js, title)
    include ./partials/head

    body(class='body_main')

        //- socket.io '/audit' namespace connector
        script var audit_socket = io('/audit');

        //- include the header (top)
        include ./partials/header

        //- display target details
        include section/target

        //- display audit results board
        include section/results

        //- display credits
        include section/credits

        //- include the footer
        include ./partials/footer