//- index.jade
    -The main page

doctype html

html(lang='en')
    //- include the head (metadata, css, js, title)
    include ./partials/head

    body(class='body_main')

        //- socket.io '/archive' namespace connector
        script var archive_socket = io('/archive');

        //- include the header (top)
        include ./partials/header

        //- include the terms (left)
        include section/terms

        //- include the main content (middle)
        include section/main

        //- include the archive (right)
        include section/archives

        //- include the footer (bottom)
        include ./partials/footer