* {
  margin-top: 0; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }

pre {
  width: 800px;
  margin-top: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

code {
  font-size: 0.750rem;
  color: white;
  font-family: Consolas, "Andale Mono", "Lucida Console"; }

.txt_red {
  color: red; }

.txt_orange {
  color: orange; }

.txt_green {
  color: green; }

.txt_bold {
  font-weight: bold; }
