* {
  font-family: Arial;
  color: white; }
  * input[type='text']:enabled:hover, * input[type='checkbox']:enabled:hover, * select:enabled:hover, * textarea:enabled:hover {
    -webkit-box-shadow: 0 0 2px 2px rgba(255, 50, 0, 0.4);
    -moz-box-shadow: 0 0 2px 2px rgba(255, 50, 0, 0.4);
    -o-box-shadow: 0 0 2px 2px rgba(255, 50, 0, 0.4);
    -ms-box-shadow: 0 0 2px 2px rgba(255, 50, 0, 0.4);
    box-shadow: 0 0 2px 2px rgba(255, 50, 0, 0.4);
    webkit-transition: border-radius 2s; }

h1, h2, h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 0; }

h1 {
  font-size: 1rem;
  color: #FF3200; }

h2 {
  font-size: 0.875rem;
  color: #FF5000; }

h3 {
  font-size: 0.75rem;
  color: #FF9600; }

a {
  font-weight: bold;
  text-decoration: none; }
  a:link {
    color: yellow; }
  a:hover {
    color: orange; }
  a:visited {
    color: red; }

.txt_red {
  color: red; }

.txt_orange {
  color: orange; }

.txt_green {
  color: green; }

.txt_bold {
  font-weight: bold; }

input[type="checkbox"] {
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none; }

input[type="text"] {
  text-transform: lowercase; }

#loading {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #FF3200;
  font-weight: bolder;
  font-size: 0.625rem; }

html {
  display: inline-block;
  position: static;
  width: 100%;
  height: 95%;
  padding-top: 15px;
  background-image: url(../images/patterns/background.jpg); }

body {
  background-image: url(../images/patterns/mooning.png);
  border: medium solid #FF3200;
  -webkit-box-shadow: 0 0 6px 6px rgba(255, 50, 0, 0.8);
  -moz-box-shadow: 0 0 6px 6px rgba(255, 50, 0, 0.8);
  -o-box-shadow: 0 0 6px 6px rgba(255, 50, 0, 0.8);
  -ms-box-shadow: 0 0 6px 6px rgba(255, 50, 0, 0.8);
  box-shadow: 0 0 6px 6px rgba(255, 50, 0, 0.8); }

body.body_main {
  display: table;
  width: 880px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 60px; }

body.body_centered {
  position: absolute;
  width: 400px;
  height: 200px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 32px; }

input[type="text"], input[type="submit"], select, textarea {
  border: 0;
  border-radius: 1px;
  background-color: #222222; }

header {
  height: 90px;
  overflow: visible; }

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

#terms, #main, #archives {
  min-height: 340px; }

#terms, #archives {
  width: 232px;
  margin: 20px 11px 0;
  max-height: 350px;
  overflow: hidden; }
  #terms img, #archives img {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin-left: 15px; }
  #terms h2, #terms h3, #terms img, #archives h2, #archives h3, #archives img {
    float: left; }
  #terms h2, #archives h2 {
    width: 60%;
    margin-left: 2px;
    white-space: nowrap; }
  #terms h3, #archives h3 {
    display: block;
    line-height: 12px;
    margin-left: 4px; }

#terms {
  float: left;
  clear: left; }
  #terms p {
    float: left;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 10px;
    font-size: 0.625rem;
    text-align: justify; }

.centerize {
  width: 100%;
  text-align: center; }

#main {
  float: left;
  width: 350px;
  margin: 0 11px; }

#warn {
  display: inline-block;
  width: 100%;
  height: 18px;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }
  #warn img {
    display: inline;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-right: 5px; }
  #warn p {
    display: inline;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-weight: bolder; }

#parameters {
  display: inline-block;
  width: 350px; }
  #parameters h1 {
    padding-left: 25px;
    text-align: center; }

.aligned, #options {
  display: table;
  margin: auto;
  white-space: nowrap; }

.aligned {
  width: 263px;
  padding-top: 2px;
  padding-bottom: 2px; }
  .aligned label {
    display: inline-block;
    width: 65px;
    height: 15px;
    max-height: 15px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: right;
    color: #FF9600; }
  .aligned input[type="text"] {
    width: 135px;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 0.875rem; }
  .aligned select {
    width: 135px;
    margin-left: 8px;
    border: 1px; }
  .aligned input[type="checkbox"] {
    display: inline;
    width: 11px;
    height: 11px; }

#type {
  display: none; }

#terms_label {
  color: red; }

#options {
  margin-top: 2px;
  margin-bottom: 2px; }
  #options input, #options label {
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    font-size: 0.75rem; }

#specifications {
  display: block;
  width: 350px;
  height: 220px;
  font-size: 0.938rem;
  text-align: justify; }
  #specifications .specification {
    width: 350px;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden; }
    #specifications .specification p {
      margin: 0; }
    #specifications .specification h2 {
      float: left;
      width: 320px;
      height: 24px;
      padding-top: 4px; }
    #specifications .specification #open {
      font-size: 12px; }
    #specifications .specification #git, #specifications .specification a {
      font-size: 12px;
      text-align: center; }
    #specifications .specification #tool, #specifications .specification #git {
      float: left;
      margin-right: 5px; }
    #specifications .specification #tools {
      text-align: center;
      margin-top: -65px;
      font-weight: bolder;
      word-spacing: 2px; }
    #specifications .specification #example {
      text-align: center;
      font-size: 0.8rem; }
    #specifications .specification #code {
      width: 350px;
      height: 85px;
      margin: -22px 0 0;
      opacity: 0.3;
      filter: alpha(opacity=30); }

#archives {
  float: right;
  clear: right; }

#links {
  float: left; }

#links > table {
  float: left;
  width: 232px;
  margin-top: 6px;
  margin-bottom: 2px;
  font-size: 0.625rem;
  font-weight: bold;
  table-layout: fixed;
  text-align: center;
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden; }
  #links > table #col_date {
    width: 42%; }
  #links > table #col_target {
    width: 58%; }
  #links > table td, #links > table th {
    border: 1px solid #BBBBBB; }

thead th {
  font-size: 14px;
  color: #FF9600; }

tbody tr {
  min-height: 17px;
  height: 17px; }
tbody td {
  overflow: hidden; }

#search {
  float: left;
  display: inline-block;
  width: 150px;
  margin: 5px 52px;
  font-weight: bold;
  white-space: nowrap; }
  #search input[type="text"] {
    float: left;
    width: 128px;
    height: 14px;
    border-radius: 4px;
    padding-right: 20px; }
  #search input[type="submit"] {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    border: none; }
  #search ::-moz-focus-inner {
    border: 0; }

footer {
  float: left;
  position: static;
  display: inline-block;
  width: 880px;
  height: 40px;
  border-top: 2px solid rgba(255, 50, 0, 0.1);
  text-align: center; }
  footer h2 {
    text-align: center;
    font-size: 0.5625rem;
    color: #505050; }
  footer a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px; }
  footer img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    filter: alpha(opacity=60); }

#error {
  text-align: center; }
  #error h1, #error h2 {
    margin: 0;
    color: white; }
  #error h1 {
    font-size: 5rem; }
  #error h2 {
    font-size: 1.5rem; }
  #error p {
    margin: 4px;
    font-size: 0.875rem;
    font-weight: bolder;
    color: #FF3200; }

#contact {
  float: left;
  text-align: center; }
  #contact h1, #contact img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 5px; }
  #contact textarea {
    width: 660px;
    margin-top: 5px;
    resize: none; }
  #contact label {
    margin-left: 5px;
    margin-right: 5px; }
  #contact select, #contact input[type="text"] {
    width: 150px;
    margin-right: 5px; }
  #contact input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 25px; }

#target {
  display: block;
  width: 410px;
  margin: 5px auto;
  text-align: center;
  font-size: 0; }
  #target h1, #target img {
    display: inline-block;
    vertical-align: middle; }
  #target h1 {
    margin-left: 12px;
    margin-right: 12px; }
  #target img {
    width: 18px;
    height: 18px; }
  #target label, #target a {
    display: inline-block;
    white-space: nowrap;
    font-size: 0.688rem;
    font-weight: bold;
    line-height: 0.938rem;
    font-family: Consolas, "Andale Mono", "Lucida Console"; }
  #target label {
    margin: 0;
    color: #FF9600; }

.field {
  width: 175px;
  text-align: right;
  padding-right: 5px; }

.value {
  width: 225px;
  text-align: left; }

#results {
  display: inline-block;
  width: 94%;
  margin: 0 3%; }

.result {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
  -o-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
  -ms-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8); }

.scan_header {
  display: block;
  height: 24px;
  width: 100%;
  text-align: left;
  background-color: rgba(40, 40, 40, 0.6); }
  .scan_header * {
    float: left;
    margin-left: 5px;
    margin-right: 5px; }
  .scan_header h2, .scan_header label, .scan_header img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none; }
  .scan_header h2, .scan_header label {
    height: 24px;
    line-height: 1.5rem; }
  .scan_header h2 {
    width: 110px; }
  .scan_header label {
    width: 430px;
    font-size: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    color: #FF9600; }
  .scan_header img[alt='icon'] {
    width: 24px;
    height: 24px;
    margin-left: 0; }
  .scan_header img[alt='progress'] {
    margin-top: 5px;
    margin-bottom: 5px; }
  .scan_header button {
    float: right;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none; }

.scan_body {
  display: none;
  width: 100%;
  height: 250px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .scan_body object {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5); }

#credits {
  margin-bottom: 15px;
  text-align: center; }
  #credits img {
    position: relative;
    margin-top: -4px;
    opacity: 0.4;
    z-index: 1; }
  #credits p {
    position: relative;
    width: 720px;
    margin: -24px auto 0px auto;
    font-weight: bold;
    color: #FF9600;
    font-size: 0.625rem;
    overflow: hidden;
    z-index: 2; }

/*# sourceMappingURL=style.css.map */
